/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/WorkFlow.dir/cmake_clean.cmake
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.20.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.20.2/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.20.2/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/WorkFlow.dir/CXX.includecache
/cmake-build-debug/CMakeFiles/WorkFlow.dir/depend.internal
/cmake-build-debug/CMakeFiles/WorkFlow.dir/depend.make
/cmake-build-debug/CMakeFiles/WorkFlow.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/WorkFlow.dir/flags.make
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/WorkFlow.dir/link.txt
/cmake-build-debug/CMakeFiles/WorkFlow.dir/linklibs.rsp
/cmake-build-debug/CMakeFiles/WorkFlow.dir/main.cpp.obj
/cmake-build-debug/Makefile
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/.idea/misc.xml
/.idea/modules.xml
/cmake-build-debug/CMakeFiles/WorkFlow.dir/objects.a
/cmake-build-debug/CMakeFiles/WorkFlow.dir/objects1.rsp
/cmake-build-debug/CMakeFiles/WorkFlow.dir/progress.make
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/CMakeFiles/WorkFlow.dir/Blocks/ReadFile.cpp.obj
/cmake-build-debug/CMakeFiles/WorkFlow.dir/Blocks/Sort.cpp.obj
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/.idea/vcs.xml
/cmake-build-debug/WorkFlow.cbp
/cmake-build-debug/WorkFlow.exe
/.idea/WorkFlow.iml
/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/a.exe
/cmake-build-debug/CMakeFiles/WorkFlow.dir/build.make
/cmake-build-debug/CMakeFiles/clion-environment.txt
/.idea/.gitignore
/cmake-build-debug/CMakeFiles/WorkFlow.dir/Blocks/Dump.cpp.obj
/cmake-build-debug/CMakeFiles/WorkFlow.dir/Blocks/Grep.cpp.obj
/cmake-build-debug/CMakeFiles/WorkFlow.dir/Blocks/Replace.cpp.obj
/cmake-build-debug/CMakeFiles/WorkFlow.dir/Blocks/WriteFile.cpp.obj
